# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# astro
dist/
.astro/

# misc
.DS_Store
*.log
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
.sublime-project
.sublime-workspace
*.swp
*.swo
*~
